<h1>Demo#Hello!</h1>
<p>Hello World!</p>

<%= 1+2 %>

<p	>

<% target = "World!" %>
<%= "Hello #{target}" %>

<p>

<% @array.each do |n| %>
		<%= n %>
		<br/>
	
	<% end %>
	
<a href="/demo/index">Index page 1</a>
	<br/>
<%= link_to('Index page 2', {:action => 'index'}) %>
	
